<!DOCTYPE html>
<html>
  <head>
    <title>Delgado's Restaurant</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
      <div id="nav-container">
        <div id="title-wrapper">
          <h1>Delgado's</h1>
          <h3>Restaurant</h3>
        </div>
        <div id="nav-wrapper">
          <ul>
            <li>Menu</li>
            <li>Contact</li>
            <li>About us</li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>
