<!DOCTYPE html>
<html>
  <head>
    <title>Delgado's</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Russo+One&family=Special+Elite&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <div id="mainTxt-wrapper">
        <img id="logo" src="https://i.imgur.com/XRHnLjA.png" alt="" />
      </div>
      <div>
        <ul>
          <li class="homeNav"><a class="nav-links" href="/menu">Menu</a></li>
          <li class="homeNav"><a class="nav-links" href="">Contact</a></li>
        </ul>
      </div>
    </nav>
    <section>
      <div id="main-fill">
        <div id="fill-text">
          <h1 class="fill-small">COME HAVE A SEAT</h1>
          <h1 id="fill-large">AUTHENTIC MEXICAN FOOD</h1>
          <h1 class="fill-small">PICKUP - DELIVERY</h1>
        </div>
        <div id="btn">
          <a id="fill-link" href="/menu"><H1 id="fill-menu">MENU</H1></a>
        </div>
      </div>
    </section>
    <section>
      <div id="welcome-wrapper">
        <h1 id="welcomeTxt">FRESH & DELICOUS</h1>
        <p id="welcome-subTxt"></p>
      </div>
    </section>
    <section>
      <div id="foods-wrapper">
        <div class="food-box">
          <div class="food-container">
            <img
              class="food-img"
              src="https://i.imgur.com/erYktjT.png"
              alt=""
            />
          </div>
          <div class="food-subtxt">
            <p class="topSub">
              Chips and Salsa
            </p>
            <p class="botSub">Served with choice of hot or mild salsa</p>
          </div>
        </div>
        <div class="food-box">
          <div class="food-container">
            <img
              class="food-img"
              src="https://i.imgur.com/oqv3n8N.png"
              alt=""
            />
          </div>
          <div class="food-subtxt">
            <p class="topSub">
              Taquitos
            </p>
            <p class="botSub">Shredded or ground beef</p>
          </div>
        </div>
        <div class="food-box">
          <div class="food-container">
            <img
              class="food-img"
              src="https://i.imgur.com/XUYs25d.png"
              alt=""
            />
          </div>
          <div class="food-subtxt">
            <p class="topSub">
              Tamales
            </p>
            <p class="botSub">Pork or beef</p>
          </div>
        </div>
        <div class="food-box">
          <div class="food-container">
            <img
              class="food-img"
              src="https://i.imgur.com/jZLn6Um.png"
              alt=""
            />
          </div>
          <div class="food-subtxt">
            <p class="topSub">
              Enchiladas
            </p>
            <p class="botSub">Cheese, chicken, or beef</p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div id="timeLocation-wrapper">
        <div>
          <div id="hrs-wrapper">
            <h1 id="hrs">Hours of Operation</h1>
            <h1 class="time-txt">Mon: Closed</h1>
            <h1 class="time-txt">Tue-Sat: 7:00am - 8:00pm</h1>
            <h1 class="time-txt">Sun: 7:00am - 7:00pm</h1>
          </div>
        </div>
        <div>
          <div id="loc-wrapper">
            <h1 class="loc-txt">We are located @</h1>
            <h1 class="loc-txt">517 E Main St, San Jacinto,</h1>
            <h1 class="loc-txt">CA 92583, <span> Come Check Us Out!</span></h1>
          </div>
        </div>
        <div>
          <div id="num-wrapper">
            <h1 class="num" id="numTop-txt">Reach us @</h1>
            <h1 class="num">(951) 487 - 8343</h1>
            <h1 class="num" id="numBot-txt"><span>We Deliver!</span></h1>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
