<!DOCTYPE html>
<html>
  <head>
    <title>Delgado's</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Russo+One&family=Special+Elite&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <div>
        <h1 id="mainName">Delgado's</h1>
        <h1 id="mainBot">Restaurant</h1>
      </div>
      <div>
        <ul>
          <li><a href="menu">Menu</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </div>
    </nav>
    <section>
      <img id="mainImg" src="https://i.imgur.com/yCgQErP.jpg" alt="" />
    </section>
    <section>
      <div id="welcome-wrapper">
        <h1 id="welcomeTxt">Welcome to <span>Delgado's</span></h1>
        <p id="welcome-subTxt">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum,
          ratione quibusdam? Natus aspernatur corrupti perspiciatis ea sequi
          voluptatibus rem nesciunt dolorum soluta minima ab eaque dicta
          assumenda, ducimus, alias minus!
        </p>
      </div>
    </section>
    <section>
      <div id="foods-wrapper">
        <div class="food-box">
          <div class="food-container">
            <img
              class="food-img"
              src="https://i.imgur.com/erYktjT.png"
              alt=""
            />
          </div>
          <div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
              nobis
            </p>
          </div>
        </div>
        <div class="food-box">
          <div class="food-container">
            <img
              class="food-img"
              src="https://i.imgur.com/oqv3n8N.png"
              alt=""
            />
          </div>
          <div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
              nobis
            </p>
          </div>
        </div>
        <div class="food-box">
          <div class="food-container">
            <img
              class="food-img"
              src="https://i.imgur.com/XUYs25d.png"
              alt=""
            />
          </div>
          <div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
              nobis
            </p>
          </div>
        </div>
        <div class="food-box">
          <div class="food-container">
            <img
              class="food-img"
              src="https://i.imgur.com/jZLn6Um.png"
              alt=""
            />
          </div>
          <div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
              nobis
            </p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div id="timeLocation-wrapper">
        <div>
          <div id="hour-wrapper"><h1>Hours</h1></div>
          <h1 class="time-txt">Mon: 7am - 8pm</h1>
          <h1 class="time-txt">Tue: 7am - 8pm</h1>
          <h1 class="time-txt">Wed: 7am - 8pm</h1>
          <h1 class="time-txt">Thu: 7am - 8pm</h1>
          <h1 class="time-txt">Fri: 7am - 8pm</h1>
          <h1 class="time-txt">Sat: 7am- 8pm</h1>
          <h1 class="time-txt">Sun: 7am - 8pm</h1>
        </div>
        <div><h1>Hello world</h1></div>
        <div><h1>Hello world</h1></div>
      </div>
    </section>
  </body>
</html>
