<!DOCTYPE html>
<html>
  <head>
    <title>Delgado's Restaurant</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Russo+One&family=Special+Elite&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <div id="nav-container">
        <div id="title-wrapper">
          <div>
            <h1 id="name">Delgado's</h1>
            <h3>Restaurant</h3>
          </div>
        </div>
        <div id="nav-wrapper">
          <ul>
            <li><a class="navLink" href="menu">Menu</a></li>
            <li><a class="navLink" href="contact">Contact</a></li>
            <li><a class="navLink" href="about">About</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div>
      <img id="mainImg" src="https://i.imgur.com/VPWJo88.png)" alt="" />
    </div>
    <section>
      <div id="locationContainer">
        <div>
          <img id="map" src="https://i.imgur.com/qKuuOCn.png" alt="" />
        </div>

        <h5 class="addy">Delgado's Restaurant,</h5>
        <h5 class="addy">517 E Main St,</h5>
        <h5 class="addy">San Jacinto, CA 92583</h5>
        <a
          href="https://www.google.com/maps/dir//Delgado's+Restaurant+517+East+Main+Street/@33.7843354,-116.9533715,18.51z/data=!4m8!4m7!1m0!1m5!1m1!1s0x80db68e83ac6e7c1:0xdf7fb9bfffac933!2m2!1d-116.9520001!2d33.7842418?hl=en"
          ><h5 class="addy" id="link">Come check us out</h5></a
        >
      </div>
      <div id="footerContainer">
        <div class="footBox">
          <p id="text1">WELCOME!</p>
          <div class="imgPad">
            <img class="img1" src="https://i.imgur.com/erYktjT.png" alt="" />
          </div>
          <p id="footText">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae,
            beatae nesciunt voluptates dolorum quisquam animi et error facilis,
            nulla, nostrum esse. Dicta doloremque corrupti sunt. Magni ducimus
            voluptas ab quidem.
          </p>
        </div>
        <div class="footBox">
          <p id="text2">ABOUT</p>
          <div class="imgPad">
            <img class="img1" src="https://i.imgur.com/d9uPvuG.png" alt="" />
          </div>
          <p id="footText">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi
            tenetur recusandae ipsa soluta culpa unde ipsam distinctio sint in,
            magnam, expedita numquam laboriosam molestiae minima cum magni
            debitis, aliquid itaque!
          </p>
        </div>
        <div class="footBox">
          <p id="text3">OUR HISTORY</p>
          <div class="imgPad">
            <img id="img3" src="https://i.imgur.com/mpEgEWj.png" alt="" />
          </div>
          <p id="footText">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas
            impedit, porro deleniti facilis nam, doloribus modi iure natus sunt
            excepturi explicabo alias nisi mollitia nostrum qui, quo saepe sit
            fuga?
          </p>
        </div>
      </div>
      <div id="hoursBackground">
        <h1 id="hours">HOURS</h1>
        <div id="time-wrapper">
          <p class="time">MONDAY: CLOSED</p>
          <p class="time">TUESDAY: 7AM - 8PM</p>
          <p class="time">WEDNESDAY: 7AM - 8PM</p>
          <p class="time">THURSDAY: 7AM - 8PM</p>
          <p class="time">FRIDAY: 7AM - 8PM</p>
          <p class="time">SATURDAY: 7AM - 8PM</p>
          <p class="time">SUNDAY: 7AM - 8PM</p>
        </div>
      </div>
    </section>
  </body>
</html>
