<!DOCTYPE html>
<html>
  <head>
    <title>Delgado's Restaurant</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Russo+One&family=Special+Elite&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <div id="nav-container">
        <div id="title-wrapper">
          <div>
            <h1 id="name">Delgado's</h1>
            <h3>Restaurant</h3>
          </div>
        </div>
        <div id="nav-wrapper">
          <ul>
            <li><a href="menu">Menu</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="about">About</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="background-wrapper">
      <section>
        <div id="image-wrapper">
          <div id="locationContainer">
            <h5>We are located</h5>
            <div>
              <img
                id="locationImg"
                src="https://i.imgur.com/MemFXLn.png"
                alt=""
              />
            </div>
            <p class="addy">Delgado's Restaurant, 517 E Main St,</p>
            <p class="addy">San Jacinto, CA 92583</p>
          </div>
        </div>
      </section>
      <section>
        <div id="footerContainer">
          <div class="footBox">
            <p id="text1">WELCOME!</p>
            <p id="footText">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae,
              beatae nesciunt voluptates dolorum quisquam animi et error
              facilis, nulla, nostrum esse. Dicta doloremque corrupti sunt.
              Magni ducimus voluptas ab quidem.
            </p>
          </div>
          <div class="footBox">
            <p id="text2">ABOUT</p>
            <p id="footText">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Excepturi tenetur recusandae ipsa soluta culpa unde ipsam
              distinctio sint in, magnam, expedita numquam laboriosam molestiae
              minima cum magni debitis, aliquid itaque!
            </p>
          </div>
          <div class="footBox">
            <p id="text3">OUR HISTORY</p>
            <p id="footText">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas
              impedit, porro deleniti facilis nam, doloribus modi iure natus
              sunt excepturi explicabo alias nisi mollitia nostrum qui, quo
              saepe sit fuga?
            </p>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
