<!DOCTYPE html>
<html>
  <head>
    <title>Delgado's Restaurant</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Russo+One&family=Special+Elite&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <hr class="line" />
      <div id="nav-container">
        <div id="title-wrapper">
          <div>
            <h1 id="name">Delgado's</h1>
            <h3>Restaurant</h3>
          </div>
        </div>
        <div id="nav-wrapper">
          <ul>
            <li>Menu</li>
            <li>Contact</li>
            <li>About us</li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>
