<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Russo+One&family=Special+Elite&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Delgado's Restaurant</title>
  </head>
  <body>
    <nav>
      <div>
        <h1 id="mainName">Delgado's</h1>
        <h1 id="mainBot">Restaurant</h1>
      </div>
      <div>
        <ul>
          <li class="menuNav"><a href="/">Home</a></li>
          <li class="menuNav"><a href="">Contact</a></li>
        </ul>
      </div>
    </nav>
    <section id="menu-container">
      <div id="menu-left">
        <div class="menu-wrapper">
          <input type="checkbox" id="menu" />
          <label for="menu">
            <div class="header"><h1>Burritos</h1></div>
          </label>
          <div class="multi-level">
            <div class="item">
              <label>
                <div>
                  <h1>Hello</h1>
                </div>
              </label>
            </div>
          </div>
        </div>
        <div class="menu-wrapper">
          <input type="checkbox" id="menu2" />
          <label for="menu2">
            <div class="header"><h1>Pancakes & Oatmeal</h1></div>
          </label>
          <div class="multi-level">
            <div class="item">
              <label>
                <div>
                  <h1>Hi</h1>
                </div>
              </label>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- <div id="menuMain-wrapper">
      <div>
        <div id="mainMenuBox">
          <div><h1 id="mainMenuTxt">Our Menu</h1></div>
          <div id="mainSubBox">
            <div>
              <img
                id="mainMenuImg"
                src="https://i.imgur.com/MGeuqfB.png"
                alt=""
              />
            </div>
            <div>
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Impedit velit assumenda corporis nobi iure quaerat, alias nam
                recusandae odio error expedita praesentium repellat nisi
                sapiente nostrum. Sequi modi aspernatur ea.
              </p>
              <br />
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Voluptas, error.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div id="mainSideMenu">
          <div>
            <h1 id="sideMenuTop">Menu</h1>
            <hr id="topLine" />
            <ul>
              <li><a class="mainSideTxt" href="">Side Orders</a></li>
              <hr class="fillLine" />
              <li><a class="mainSideTxt" href="">Burritos</a></li>
              <hr class="fillLine" />
              <li><a class="mainSideTxt" href="">Hamburgers</a></li>
              <hr class="fillLine" />
              <li><a class="mainSideTxt" href="">Breakfast</a></li>
              <hr class="fillLine" />
              <li><a class="mainSideTxt" href="">Lunch</a></li>
              <hr class="fillLine" />
              <li><a class="mainSideTxt" href="">Appetizers</a></li>
              <hr class="fillLine" />
              <li><a class="mainSideTxt" href="">Desserts</a></li>
              <hr class="fillLine" />
            </ul>
          </div>
        </div>
        <div id="sideHours">
          <div><h1>Hours</h1></div>
        </div>
      </div>
    </div> -->
  </body>
</html>
