<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Russo+One&family=Special+Elite&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Delgado's Restaurant</title>
  </head>
  <body>
    <nav>
      <div id="mainTxt-wrapper">
        <img id="logo" src="https://i.imgur.com/XRHnLjA.png" alt="" />
      </div>
      <div>
        <ul>
          <li class="menuNav"><a href="/">Home</a></li>
          <li class="menuNav"><a href="">Contact</a></li>
        </ul>
      </div>
    </nav>
    <section>
      <div id="menu-top"><h1>Delgado's Menu</h1></div>
      <div id="menuImages-wrapper">
        <img class="menuImages" src="https://i.imgur.com/WjyX6LV.jpg" alt="" />
        <img class="menuImages" src="https://i.imgur.com/19eiAiv.jpg" alt="" />
        <img class="menuImages" src="https://i.imgur.com/DsEP9Lp.jpg" alt="" />
      </div>
    </section>
    <section id="menu-container">
      <div id="menu-left">
        <div class="menu-wrapper">
          <input type="checkbox" id="menu" />
          <label for="menu">
            <div class="header">
              <h1 class="header-txt">Burritos</h1>
            </div>
          </label>
          <div class="multi-level">
            <div class="item">
              <label>
                <div class="item-wrapper">
                  <p>Chorizo, Eggs & Potatoes</p>
                  <p class="price">$6.25</p>
                  <hr />
                  <p>Machaca, Eggs & Potatoes</p>
                  <p class="price">$6.25</p>
                  <hr />
                  <p>Bacon, Eggs & Potatoes</p>
                  <p class="price">$6.25</p>
                  <hr />
                  <p>Beans, Eggs & Potatoes</p>
                  <p class="price">$6.00</p>
                  <hr />
                  <p>Enchilada Style</p>
                  <p class="price">$2.75</p>
                  <hr />
                  <p>Ranchero Style</p>
                  <p class="price">$3.00</p>
                  <hr />
                  <p>Chile Colorado</p>
                  <p class="price">$8.00</p>
                  <hr />
                  <p>Shredded Beef</p>
                  <p class="price">$8.00</p>
                  <hr />
                  <p>Ground Beef</p>
                  <p class="price">$8.00</p>
                  <hr />
                  <p>Chicken</p>
                  <p class="price">$8.00</p>
                  <hr />
                  <p>Beans and Cheese</p>
                  <p class="price">$7.00</p>
                  <hr />
                  <p>Carne Asada</p>
                  <p class="price">$8.75</p>
                  <hr />
                  <p>Chile Verde</p>
                  <p class="price">$8.00</p>
                  <hr />
                  <p>Carnitas</p>
                  <p class="price">$8.75</p>
                  <hr />
                </div>
              </label>
            </div>
          </div>
        </div>
        <div class="menu-wrapper">
          <input type="checkbox" id="menu2" />
          <label for="menu2">
            <div class="header">
              <h1 class="header-txt">Pancakes & Oatmeal</h1>
            </div>
          </label>
          <div class="multi-level">
            <div class="item">
              <label>
                <div class="item-wrapper">
                  <p>(2)Pancakes, (2)Eggs, (2)Bacon, Sausage</p>
                  <p class="price">$6.25</p>
                  <hr />
                  <p>French Toast</p>
                  <p class="price">$6.75</p>
                  <hr />
                  <p>Short Stack Pancakes</p>
                  <p class="price">$4.75</p>
                  <hr />
                  <p>Full Stack Pancakes</p>
                  <p class="price">$5.75</p>
                  <hr />
                  <p>Oatmeal</p>
                  <p class="price">$6.50</p>
                  <hr />
                  <p>Waffle</p>
                  <p class="price">$7.00</p>
                  <hr />
                </div>
              </label>
            </div>
          </div>
        </div>
        <div class="menu-wrapper">
          <input type="checkbox" id="menu7" />
          <label for="menu7">
            <div class="header">
              <h1 class="header-txt">Eggs</h1>
            </div>
          </label>
          <div class="multi-level">
            <div class="item">
              <label>
                <div class="item-wrapper">
                  <p>Bacon and Eggs</p>
                  <p class="price">$8.00</p>
                  <hr />
                  <p>Polish Sausage & Eggs</p>
                  <p class="price">$9.50</p>
                  <hr />
                  <p>Sausage Patty & Eggs</p>
                  <p class="price">$9.50</p>
                  <hr />
                  <p>Chilaquilies & Eggs</p>
                  <p class="price">$9.50</p>
                  <hr />
                  <p>Nopales & Eggs</p>
                  <p class="price">$9.50</p>
                  <hr />
                  <p>Huevos a la Mexican</p>
                  <p class="price">$7.50</p>
                  <hr />
                  <p>Chicken Fried Steak & Eggs</p>
                  <p class="price">$9.50</p>
                  <hr />
                  <p>Huevos Rancheros</p>
                  <p class="price">$9.50</p>
                  <hr />
                  <p>New York Steak & Eggs</p>
                  <p class="price">$13.00</p>
                  <hr />
                  <p>Ham & Eggs</p>
                  <p class="price">$9.50</p>
                  <hr />
                  <p>Machaca & Eggs</p>
                  <p class="price">$9.50</p>
                  <hr />
                  <p>Chorizo & Eggs</p>
                  <p class="price">$9.50</p>
                  <hr />
                  <p>Two Eggs</p>
                  <p class="price">$7.50</p>
                  <hr />
                  <p>Hamburger Patty</p>
                  <p class="price">$9.50</p>
                  <hr />
                </div>
              </label>
            </div>
          </div>
        </div>
        <div class="menu-wrapper">
          <input type="checkbox" id="menu11" />
          <label for="menu11">
            <div class="header">
              <h1 class="header-txt">Omelettes</h1>
            </div>
          </label>
          <div class="multi-level">
            <div class="item">
              <label>
                <div class="item-wrapper">
                  <p>Chorizo Omelette</p>
                  <p class="price">$9.50</p>
                  <hr />
                  <p>Ham & Cheese Omelette</p>
                  <p class="price">$8.00</p>
                  <hr />
                  <p>Bacon & Cheese Omelette</p>
                  <p class="price">$8.00</p>
                  <hr />
                  <p>Denver Omelette</p>
                  <p class="price">$8.00</p>
                  <hr />
                  <p>Combo Omelette</p>
                  <p class="price">$9.50</p>
                  <hr />
                  <p>Shrimp Omelette</p>
                  <p class="price">$12.95</p>
                  <hr />
                  <p>Chili Verde Omelette</p>
                  <p class="price">$9.50</p>
                  <hr />
                  <p>Veggie Omelette</p>
                  <p class="price">$9.95</p>
                  <hr />
                  <p>Ortega Omelette</p>
                  <p class="price">$9.50</p>
                  <hr />
                  <p>Machaca Omelette</p>
                  <p class="price">$9.50</p>
                  <hr />
                  <p>Guacamole Omelette</p>
                  <p class="price">$9.50</p>
                  <hr />
                  <p>Spinach Omelette</p>
                  <p class="price">$9.50</p>
                  <hr />
                  <p>Chile Colorado Omelette</p>
                  <p class="price">$9.50</p>
                  <hr />
                  <p>Mushroom Omelette</p>
                  <p class="price">$9.50</p>
                  <hr />
                </div>
              </label>
            </div>
          </div>
        </div>
        <div class="menu-wrapper">
          <input type="checkbox" id="menu3" />
          <label for="menu3">
            <div class="header">
              <h1 class="header-txt">Hamburgers</h1>
            </div>
          </label>
          <div class="multi-level">
            <div class="item">
              <label>
                <div class="item-wrapper">
                  <p>1/4 lb Cheese Burger</p>
                  <p class="price">$7.75</p>
                  <hr />
                  <p>Ham & Egg Sandwich</p>
                  <p class="price">$7.75</p>
                  <hr />
                  <p>Club Sandwich</p>
                  <p class="price">$9.25</p>
                  <hr />
                  <p>Grilled Cheese Sandwich</p>
                  <p class="price">$7.00</p>
                  <hr />
                  <p>Torta (carnitas, pollo, asada)</p>
                  <p class="price">$9.25</p>
                  <hr />
                </div>
              </label>
            </div>
          </div>
        </div>
        <div class="menu-wrapper">
          <input type="checkbox" id="menu4" />
          <label for="menu4">
            <div class="header">
              <h1 class="header-txt">Side Orders</h1>
            </div>
          </label>
          <div class="multi-level">
            <div class="item">
              <label>
                <div class="item-wrapper">
                  <p>2 Eggs</p>
                  <p class="price">$3.50</p>
                  <hr />
                  <p>Bacon & Sausage</p>
                  <p class="price">$3.50</p>
                  <hr />
                  <p>Potatoes</p>
                  <p class="price">$3.50</p>
                  <hr />
                  <p>Toast or Tortillas</p>
                  <p class="price">$2.25</p>
                  <hr />
                  <p>Guacamole</p>
                  <p class="price">$3.75</p>
                  <hr />
                  <p>Sour Cream</p>
                  <p class="price">$2.75</p>
                  <hr />
                  <p>Rice or Beans</p>
                  <p class="price">$3.50</p>
                  <hr />
                  <p>Nopales</p>
                  <p class="price">$5.50</p>
                  <hr />
                  <p>Patyy</p>
                  <p class="price">$5.25</p>
                  <hr />
                  <p>Ham</p>
                  <p class="price">$5.25</p>
                  <hr />
                  <p>Cup of Menudo</p>
                  <p class="price">$3.75</p>
                  <hr />
                  <p>Flauta</p>
                  <p class="price">$3.50</p>
                  <hr />
                  <p>Taco (chicken or ground beef)</p>
                  <p class="price">$3.50</p>
                  <hr />
                  <p>Salad</p>
                  <p class="price">$3.50</p>
                  <hr />
                  <p>Chile Relleno</p>
                  <p class="price">$4.75</p>
                  <hr />
                  <p>Tamal</p>
                  <p class="price">$3.50</p>
                  <hr />
                  <p>Taquito or Enchilada</p>
                  <p class="price">$3.50</p>
                  <hr />
                  <p>Asada Taco</p>
                  <p class="price">$4.00</p>
                  <hr />
                  <p>Fish Taco</p>
                  <p class="price">$4.75</p>
                  <hr />
                  <p>Carnitas Taco</p>
                  <p class="price">$4.00</p>
                  <hr />
                </div>
              </label>
            </div>
          </div>
        </div>
        <div class="menu-wrapper">
          <input type="checkbox" id="menu5" />
          <label for="menu5">
            <div class="header">
              <h1 class="header-txt">Soup</h1>
            </div>
          </label>
          <div class="multi-level">
            <div class="item">
              <label>
                <div class="item-wrapper">
                  <p>Menudo</p>
                  <p class="price">$9.50</p>
                  <hr />
                  <p>Albondigas</p>
                  <p class="price">$9.50</p>
                  <hr />
                  <p>Caldo de Camaron</p>
                  <p class="price">$14.50</p>
                  <hr />
                  <p>Caldo de Pollo</p>
                  <p class="price">$10.50</p>
                  <hr />
                  <p>Caldo de Mariscos</p>
                  <p class="price">$14.50</p>
                  <hr />
                </div>
              </label>
            </div>
          </div>
        </div>
        <div class="menu-wrapper">
          <input type="checkbox" id="menu8" />
          <label for="menu8">
            <div class="header">
              <h1 class="header-txt">Specialties</h1>
            </div>
          </label>
          <div class="multi-level">
            <div class="item">
              <label>
                <div class="item-wrapper">
                  <p>Carne Asada</p>
                  <p class="price">$12.50</p>
                  <hr />
                  <p>Milanesa</p>
                  <p class="price">$12.50</p>
                  <hr />
                  <p>Carnitas</p>
                  <p class="price">$12.50</p>
                  <hr />
                  <p>New York Steak</p>
                  <p class="price">$12.50</p>
                  <hr />
                  <p>Steak Picado</p>
                  <p class="price">$12.50</p>
                  <hr />
                  <p>Steak Ranchero</p>
                  <p class="price">$12.50</p>
                  <hr />
                  <p>Pollo Ranchero</p>
                  <p class="price">$12.50</p>
                  <hr />
                  <p>Chicken Fajitas</p>
                  <p class="price">$12.50</p>
                  <hr />
                  <p>Beef Fajitas</p>
                  <p class="price">$12.50</p>
                  <hr />
                  <p>Shrimp Fajitas</p>
                  <p class="price">$14.50</p>
                  <hr />
                  <p>2 Tacos de Carne Asada</p>
                  <p class="price">$12.50</p>
                  <hr />
                  <p>2 Tacos de Carnitas</p>
                  <p class="price">$12.50</p>
                  <hr />
                  <p>2 Tacos de Pescado</p>
                  <p class="price">$14.50</p>
                  <hr />
                </div>
              </label>
            </div>
          </div>
        </div>
        <div class="menu-wrapper">
          <input type="checkbox" id="menu9" />
          <label for="menu9">
            <div class="header">
              <h1 class="header-txt">Tostada & Taco Salad</h1>
            </div>
          </label>
          <div class="multi-level">
            <div class="item">
              <label>
                <div class="item-wrapper">
                  <p>Tostada (beans)</p>
                  <p class="price">$7.25</p>
                  <hr />
                  <p>Tostada (chicken or beef)</p>
                  <p class="price">$8.50</p>
                  <hr />
                  <p>Tostada (meat and beans)</p>
                  <p class="price">$9.25</p>
                  <hr />
                  <p>Tostada de Camaron</p>
                  <p class="price">$6.00</p>
                  <hr />
                  <p>Taco Salad (chicken or beef)</p>
                  <p class="price">$9.25</p>
                  <hr />
                  <p>Taco Salad Shrimp</p>
                  <p class="price">$11.25</p>
                  <hr />
                </div>
              </label>
            </div>
          </div>
        </div>
        <div class="menu-wrapper">
          <input type="checkbox" id="menu10" />
          <label for="menu10">
            <div class="header">
              <h1 class="header-txt">Combination Plates</h1>
            </div>
          </label>
          <div class="multi-level">
            <div class="item">
              <label>
                <div class="item-wrapper">
                  <p>Huevos Rancheros</p>
                  <p class="price">$9.50</p>
                  <hr />
                  <p>Machaca & Eggs</p>
                  <p class="price">$9.50</p>
                  <hr />
                  <p>Chorizo & Eggs</p>
                  <p class="price">$9.50</p>
                  <hr />
                  <p>Burrito (chicken or beef)</p>
                  <p class="price">$10.25</p>
                  <hr />
                  <p>Chimichanga</p>
                  <p class="price">$11.25</p>
                  <hr />
                  <p>Cheese Enchilada & Taco</p>
                  <p class="price">$8.00</p>
                  <hr />
                  <p>Chile Relleno</p>
                  <p class="price">$8.00</p>
                  <hr />
                  <p>2 Tacos (chicken or beef)</p>
                  <p class="price">$8.00</p>
                  <hr />
                  <p>2 Enchiladas</p>
                  <p class="price">$8.00</p>
                  <hr />
                  <p>2 Taquitos</p>
                  <p class="price">$8.00</p>
                  <hr />
                  <p>Enchilada & Tamal</p>
                  <p class="price">$8.25</p>
                  <hr />
                  <p>Enchilada & Taquito</p>
                  <p class="price">$8.00</p>
                  <hr />
                  <p>Enchilada & Flauta</p>
                  <p class="price">$8.00</p>
                  <hr />
                  <p>2 Flautas</p>
                  <p class="price">$8.00</p>
                  <hr />
                  <p>1 Taco or Enchilada</p>
                  <p class="price">$7.00</p>
                  <hr />
                  <p>Chile Verde</p>
                  <p class="price">$9.50</p>
                  <hr />
                  <p>Chile Colorado</p>
                  <p class="price">$9.50</p>
                  <hr />
                  <p>2 Tamal</p>
                  <p class="price">$11.25</p>
                  <hr />
                </div>
              </label>
            </div>
          </div>
        </div>
        <div class="menu-wrapper">
          <input type="checkbox" id="menu12" />
          <label for="menu12">
            <div class="header">
              <h1 class="header-txt">Appetizers</h1>
            </div>
          </label>
          <div class="multi-level">
            <div class="item">
              <label>
                <div class="item-wrapper">
                  <p>Cheese Quesadilla</p>
                  <p class="price">$7.25</p>
                  <hr />
                  <p>Special Quesadilla (chicken or beef)</p>
                  <p class="price">$8.75</p>
                  <hr />
                  <p>Guacamole Dip</p>
                  <p class="price">$6.50</p>
                  <hr />
                  <p>Nachos</p>
                  <p class="price">$7.50</p>
                  <hr />
                  <p>Nachos Delight</p>
                  <p class="price">$9.50</p>
                  <hr />
                  <p>Nachos Supreme (pork or beef)</p>
                  <p class="price">$12.25</p>
                  <hr />
                  <p>Asada Fries</p>
                  <p class="price">$12.25</p>
                  <hr />
                </div>
              </label>
            </div>
          </div>
        </div>
        <div class="menu-wrapper">
          <input type="checkbox" id="menu13" />
          <label for="menu13">
            <div class="header">
              <h1 class="header-txt">Desserts</h1>
            </div>
          </label>
          <div class="multi-level">
            <div class="item">
              <label>
                <div class="item-wrapper">
                  <p>Flan</p>
                  <p class="price">$4.25</p>
                  <hr />
                  <p>Cheese Cake</p>
                  <p class="price">$4.25</p>
                  <hr />
                  <p>Deep Fried Ice Cream</p>
                  <p class="price">$4.25</p>
                  <hr />
                </div>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div id="menu-right">
        <div>
          <h1 id="menuRight-top">Delgados's Restaurant</h1>
        </div>
        <div id="menuRight-subText">
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Voluptatum, ipsam? ohohado
          </p>
        </div>
        <div class="menu-boxes">
          <p>517 E Main St, San Jacinto, CA 92583</p>
        </div>
        <div class="menu-boxes">
          <p>(951) 487 - 8343</p>
        </div>
        <div id="hours-wrapper">
          <div id="menuHours-top"><p>Hours of Business</p></div>
          <p>Monday: Closed</p>
          <hr />
          <p>Tuesday: 7:00am - 8:00pm</p>
          <hr />
          <p>Wednesday: 7:00am - 8:00pm</p>
          <hr />
          <p>Thursday: 7:00am - 8:00pm</p>
          <hr />
          <p>Friday: 7:00am - 8:00pm</p>
          <hr />
          <p>Saturday: 7:00am - 8:00pm</p>
          <hr />
          <p>Sunday: 7:00am - 6:00pm</p>
          <hr />
        </div>
      </div>
    </section>
    <section>
      <div id="timeLocation-wrapper">
        <div>
          <div id="hrs-wrapper">
            <h1 id="hrs">Hours of Operation</h1>
            <h1 class="time-txt">Mon: Closed</h1>
            <h1 class="time-txt">Tue-Sat: 7:00am - 8:00pm</h1>
            <h1 class="time-txt">Sun: 7:00am - 7:00pm</h1>
          </div>
        </div>
        <div>
          <div id="loc-wrapper">
            <h1 class="loc-txt">We are located</h1>
            <h1 class="loc-txt">517 E Main St, San Jacinto,</h1>
            <h1 class="loc-txt">CA 92583, <span> Come Check Us Out!</span></h1>
          </div>
        </div>
        <div>
          <div id="num-wrapper">
            <h1 class="num" id="numTop-txt">Reach us</h1>
            <h1 class="num">(951) 487 - 8343</h1>
            <h1 class="num" id="numBot-txt"><span>We Deliver!</span></h1>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
