<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Russo+One&family=Special+Elite&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Delgado's Restaurant</title>
  </head>
  <body>
    <nav>
      <div>
        <h1 id="mainName">Delgado's</h1>
        <h1 id="mainBot">Restaurant</h1>
      </div>
      <div>
        <ul>
          <li class="menuNav"><a href="/">Home</a></li>
          <li class="menuNav"><a href="">Contact</a></li>
        </ul>
      </div>
    </nav>
    <section id="menu-container">
      <div id="menu-left">
        <div class="menu-wrapper">
          <input type="checkbox" id="menu" />
          <label for="menu">
            <div class="header">
              <h1 class="header-txt">Burritos</h1>
            </div>
          </label>
          <div class="multi-level">
            <div class="item">
              <label>
                <div class="item-wrapper">
                  <p>
                    Chorizo, eggs & potatoes
                  </p>
                  <p class="price">$6.25</p>
                  <hr />
                  <p>
                    Machaca, eggs, & potatoes
                  </p>
                  <p class="price">$6.25</p>
                  <hr />
                </div>
              </label>
            </div>
          </div>
        </div>
        <div class="menu-wrapper">
          <input type="checkbox" id="menu2" />
          <label for="menu2">
            <div class="header">
              <h1 class="header-txt">Pancakes & Oatmeal</h1>
            </div>
          </label>
          <div class="multi-level">
            <div class="item">
              <label>
                <div>
                  <h1>Hi</h1>
                </div>
              </label>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
