<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Russo+One&family=Special+Elite&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Delgado's Restaurant</title>
  </head>
  <body>
    <nav>
      <div>
        <h1 id="mainName">Delgado's</h1>
        <h1 id="mainBot">Restaurant</h1>
      </div>
      <div>
        <ul>
          <li class="menuNav"><a href="/">Home</a></li>
          <li class="menuNav"><a href="">Contact</a></li>
        </ul>
      </div>
    </nav>
    <section>
      <div id="menuImages-wrapper">
        <img class="menuImages" src="https://i.imgur.com/WjyX6LV.jpg" alt="" />
        <img class="menuImages" src="https://i.imgur.com/19eiAiv.jpg" alt="" />
        <img class="menuImages" src="https://i.imgur.com/DsEP9Lp.jpg" alt="" />
      </div>
    </section>
    <section id="menu-container">
      <div id="menu-left">
        <div class="menu-wrapper">
          <input type="checkbox" id="menu" />
          <label for="menu">
            <div class="header">
              <h1 class="header-txt">Burritos</h1>
            </div>
          </label>
          <div class="multi-level">
            <div class="item">
              <label>
                <div class="item-wrapper">
                  <p>
                    Chorizo, eggs & potatoes
                  </p>
                  <p class="price">$6.25</p>
                  <hr />
                  <p>
                    Machaca, eggs, & potatoes
                  </p>
                  <p class="price">$6.25</p>
                  <hr />
                </div>
              </label>
            </div>
          </div>
        </div>
        <div class="menu-wrapper">
          <input type="checkbox" id="menu2" />
          <label for="menu2">
            <div class="header">
              <h1 class="header-txt">Pancakes & Oatmeal</h1>
            </div>
          </label>
          <div class="multi-level">
            <div class="item">
              <label>
                <div>
                  <h1>Hi</h1>
                </div>
              </label>
            </div>
          </div>
        </div>
        <div class="menu-wrapper">
          <input type="checkbox" id="menu7" />
          <label for="menu7">
            <div class="header">
              <h1 class="header-txt">Eggs</h1>
            </div>
          </label>
          <div class="multi-level">
            <div class="item">
              <label>
                <div>
                  <h1>Hi</h1>
                </div>
              </label>
            </div>
          </div>
        </div>
        <div class="menu-wrapper">
          <input type="checkbox" id="menu11" />
          <label for="menu11">
            <div class="header">
              <h1 class="header-txt">Omelettes</h1>
            </div>
          </label>
          <div class="multi-level">
            <div class="item">
              <label>
                <div>
                  <h1>Hi</h1>
                </div>
              </label>
            </div>
          </div>
        </div>
        <div class="menu-wrapper">
          <input type="checkbox" id="menu3" />
          <label for="menu3">
            <div class="header">
              <h1 class="header-txt">Hamburgers</h1>
            </div>
          </label>
          <div class="multi-level">
            <div class="item">
              <label>
                <div>
                  <h1>Hi</h1>
                </div>
              </label>
            </div>
          </div>
        </div>
        <div class="menu-wrapper">
          <input type="checkbox" id="menu4" />
          <label for="menu4">
            <div class="header">
              <h1 class="header-txt">Side Orders</h1>
            </div>
          </label>
          <div class="multi-level">
            <div class="item">
              <label>
                <div>
                  <h1>Hi</h1>
                </div>
              </label>
            </div>
          </div>
        </div>
        <div class="menu-wrapper">
          <input type="checkbox" id="menu5" />
          <label for="menu5">
            <div class="header">
              <h1 class="header-txt">Soup</h1>
            </div>
          </label>
          <div class="multi-level">
            <div class="item">
              <label>
                <div>
                  <h1>Hi</h1>
                </div>
              </label>
            </div>
          </div>
        </div>
        <div class="menu-wrapper">
          <input type="checkbox" id="menu6" />
          <label for="menu6">
            <div class="header">
              <h1 class="header-txt">Caldos Mariscos</h1>
            </div>
          </label>
          <div class="multi-level">
            <div class="item">
              <label>
                <div>
                  <h1>Hi</h1>
                </div>
              </label>
            </div>
          </div>
        </div>
        <div class="menu-wrapper">
          <input type="checkbox" id="menu8" />
          <label for="menu8">
            <div class="header">
              <h1 class="header-txt">Specialties</h1>
            </div>
          </label>
          <div class="multi-level">
            <div class="item">
              <label>
                <div>
                  <h1>Hi</h1>
                </div>
              </label>
            </div>
          </div>
        </div>
        <div class="menu-wrapper">
          <input type="checkbox" id="menu9" />
          <label for="menu9">
            <div class="header">
              <h1 class="header-txt">Tostada & Taco Salad</h1>
            </div>
          </label>
          <div class="multi-level">
            <div class="item">
              <label>
                <div>
                  <h1>Hi</h1>
                </div>
              </label>
            </div>
          </div>
        </div>
        <div class="menu-wrapper">
          <input type="checkbox" id="menu10" />
          <label for="menu10">
            <div class="header">
              <h1 class="header-txt">Combination Plates</h1>
            </div>
          </label>
          <div class="multi-level">
            <div class="item">
              <label>
                <div>
                  <h1>Hi</h1>
                </div>
              </label>
            </div>
          </div>
        </div>
        <div class="menu-wrapper">
          <input type="checkbox" id="menu12" />
          <label for="menu12">
            <div class="header">
              <h1 class="header-txt">Appetizers</h1>
            </div>
          </label>
          <div class="multi-level">
            <div class="item">
              <label>
                <div>
                  <h1>Hi</h1>
                </div>
              </label>
            </div>
          </div>
        </div>
        <div class="menu-wrapper">
          <input type="checkbox" id="menu13" />
          <label for="menu13">
            <div class="header">
              <h1 class="header-txt">Desserts</h1>
            </div>
          </label>
          <div class="multi-level">
            <div class="item">
              <label>
                <div>
                  <h1>Hi</h1>
                </div>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div id="menu-right">
        <div>
          <h1 id="menuRight-top">Delgados's Restaurant</h1>
        </div>
        <div id="menuRight-subText">
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Voluptatum, ipsam? ohohado
          </p>
        </div>
        <div class="menu-boxes">
          <p>517 E Main St, San Jacinto, CA 92583</p>
        </div>
        <div class="menu-boxes">
          <p>(951) 487 - 8343</p>
        </div>
        <div id="hours-wrapper">
          <div id="menuHours-top"><p>Hours of Business</p></div>
        </div>
      </div>
    </section>
  </body>
</html>
