body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem 1rem 4rem;
  box-shadow: 1px -1px 6px black;
  background-color: white;
}

.menu-background {
  background-color: rgb(233, 228, 222);
}

#main-fill {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Bebas Neue", cursive;
  background-image: linear-gradient(
      rgba(41, 40, 40, 0.349),
      rgba(41, 38, 38, 0.384)
    ),
    url(https://i.imgur.com/9T5WYlx.jpg);
  padding: 3rem 0;
  background-size: cover;
  color: rgb(238, 228, 215);
  text-shadow: 2px 2px black;
}

#fill-text {
  line-height: 2rem;
  text-align: center;
}

#btn {
  background-color: rgb(233, 54, 54);
  width: 12rem;
  height: 3.5rem;
  text-align: center;
  border-radius: 0.2rem;
  margin-top: 2rem;
  font-family: "Bebas Neue", cursive;
}

#btn:hover {
  cursor: pointer;
}

#fill-link {
  padding: 0;
  color: rgb(238, 228, 215);
}

#fill-menu {
  font-size: 2rem;
  margin-top: 0.7rem;
  font-family: "Bebas Neue", cursive;
}

.fill-small {
  font-size: 3.5rem;
}

#fill-large {
  font-size: 4.5rem;
}

a:hover {
  color: red;
}

ul {
  margin-top: 2rem;
}

.homeNav {
  display: inline;
  font-size: 1.3rem;
}

.menuNav {
  display: inline;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  padding: 1.3rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #252525;
}

#logo {
  width: 33%;
  height: 7rem;
}

#mainBot {
  font-family: "Special Elite", cursive;
  font-size: 1.5rem;
  text-align: center;
  margin-top: -1.5rem;
}

#mainTxt-wrapper {
  margin-top: -1rem;
}

#mainImg {
  width: 100%;
  height: 30rem;
}

#welcomeTxt {
  font-family: "Bebas Neue", cursive;
  text-align: center;
  color: rgb(214, 18, 18);
  font-size: 3rem;
}

#welcome-wrapper {
  margin-top: 3rem;
  font-size: 1.5rem;
}

#foods-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 4rem 6rem 0 6rem;
  text-align: center;
}

.food-box {
  width: 18rem;
}

.food-img {
  width: 100%;
  height: 14rem;
  box-shadow: 1px 1px 3px rgb(94, 92, 92);
}

.food-subtxt {
  text-align: left;
  color: #252525;
  line-height: 1rem;
}

.topSub {
  font-family: "Bebas Neue", cursive;
  font-size: 1.5rem;
}

.botSub {
  font-size: 1rem;
}

#timeLocation-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
  margin-top: 4rem;
  color: white;
  background-color: #252525;
  font-family: "Baloo Bhaina 2", cursive;
  bottom: 0;
  line-height: 0.7rem;
}

span {
  color: rgb(214, 18, 18);
}

.time-txt {
  text-align: left;
  font-size: 1rem;
}

#hrs {
  font-size: 1.2rem;
  color: rgb(214, 18, 18);
}

.loc-txt {
  font-size: 1rem;
  text-align: center;
}

#mapLink {
  color: rgb(214, 18, 18);
}

.num {
  font-size: 1rem;
}

#numBot-txt {
  text-align: center;
}

#numTop-txt {
  text-align: center;
}

p {
  font-family: "Baloo Bhaina 2", cursive;
}

#menu-top {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  color: rgb(214, 18, 18);
  font-size: 2rem;
}

#menuMain-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 2rem 8rem 0 8rem;
}

#mainMenuTxt {
  font-family: "Special Elite", cursive;
  font-size: 3rem;
  padding: 4rem 0 0 4rem;
}

#sideMenuTop {
  font-family: "Special Elite", cursive;
  font-size: 2rem;
  padding: 2rem 0 0 2rem;
}

#mainMenuBox {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 37rem;
  width: 48rem;
}

#mainSideMenu {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 19rem;
  height: 27rem;
  background-color: rgb(250, 249, 237);
}

#mainMenuImg {
  width: 60%;
  height: 13rem;
}

#mainSubBox {
  display: flex;
  padding: 4rem 4rem 0 4rem;
}

#topLine {
  border-top: 0.1rem solid grey;
  width: 75%;
}

.fillLine {
  width: 86%;
  border-top: 0.01rem solid red;
}

li {
  list-style: none;
}

#menu-container {
  display: flex;
  justify-content: space-around;
  margin: 0 12rem;
}

.multi-level,
.item ul,
input[type="checkbox"] {
  display: none;
}

#menu:checked ~ .multi-level,
.item input:checked {
  display: block;
}

#menu2:checked ~ .multi-level,
.item input:checked {
  display: block;
}

#menu3:checked ~ .multi-level,
.item input:checked {
  display: block;
}

#menu4:checked ~ .multi-level,
.item input:checked {
  display: block;
}

#menu5:checked ~ .multi-level,
.item input:checked {
  display: block;
}

#menu6:checked ~ .multi-level,
.item input:checked {
  display: block;
}

#menu7:checked ~ .multi-level,
.item input:checked {
  display: block;
}

#menu8:checked ~ .multi-level,
.item input:checked {
  display: block;
}

#menu9:checked ~ .multi-level,
.item input:checked {
  display: block;
}

#menu10:checked ~ .multi-level,
.item input:checked {
  display: block;
}

#menu11:checked ~ .multi-level,
.item input:checked {
  display: block;
}

#menu12:checked ~ .multi-level,
.item input:checked {
  display: block;
}

#menu13:checked ~ .multi-level,
.item input:checked {
  display: block;
}

.header {
  width: 36rem;
  height: 3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-family: "Bebas Neue", cursive;
  background-color: white;
}

.item-wrapper {
  width: 36rem;
  border-top: 1px solid black;
  line-height: 0.5rem;
}

.header-txt {
  margin-left: 1rem;
}

.menu-wrapper {
  line-height: 3rem;
}

.header:hover {
  cursor: pointer;
}

.price {
  text-align: right;
  font-weight: bolder;
}

#menuImages-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.menuImages {
  width: 22%;
  height: 15rem;
  border: 1px solid rgb(207, 163, 41);
}

#menuRight-top {
  font-family: "Bebas Neue", cursive;
  text-align: center;
}

#menuRight-subText {
  width: 20rem;
  text-align: center;
}

.menu-boxes {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
}

#menuHours-top {
  text-align: center;

  color: rgb(214, 18, 18);
}

#hours-wrapper {
  text-align: center;
}

@media only screen and (max-width: 640px) {
  nav {
    padding: 0 2rem;
    position: sticky;
    top: 0;
    background-color: white;
  }

  #mainTxt-wrapper {
    text-align: center;
    margin: 0.1rem 1rem 0 0;
  }

  .nav-tab {
    display: none;
  }

  #logo {
    width: 70%;
    height: 5rem;
  }

  #main-fill {
    padding: 4rem 1rem;
  }

  .fill-small {
    font-size: 2rem;
  }

  #fill-large {
    font-size: 2.2rem;
  }

  #fill-text {
    line-height: 1rem;
  }

  #btn {
    background-color: rgb(233, 54, 54);
    width: 10rem;
    height: 3rem;
    margin-top: 2rem;
  }

  #fill-menu {
    font-size: 2rem;
    margin-top: 0.3rem;
    font-family: "Bebas Neue", cursive;
  }

  #welcome-wrapper {
    margin-top: 2.7rem;
  }

  #welcomeTxt {
    font-size: 2rem;
  }

  #foods-wrapper {
    flex-direction: column;
    margin: 2.3rem 0rem;
    align-items: center;
  }

  .food-box {
    width: 100%;
    height: 20rem;
  }

  .food-img {
    height: 12rem;
  }

  .food-subtxt {
    text-align: center;
    line-height: 0.5rem;
  }

  .topSub {
    font-size: 2rem;
  }

  #timeLocation-wrapper {
    line-height: 1rem;
    margin-top: -2rem;
  }

  #loc-wrapper {
    display: none;
  }

  #num-wrapper {
    display: none;
  }

  #menu-top {
    font-size: 1rem;
  }

  #menuImages-wrapper {
    display: none;
  }

  #menu-right {
    display: none;
  }

  #menu-container {
    flex-direction: column;
    margin: 0;
  }

  .header {
    width: 100%;
  }

  .item-wrapper {
    width: 100%;
  }

  .menuBot-wrapper {
    margin-top: 3rem;
  }

  .price {
    margin-right: 0.6rem;
  }
}
