body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
  background-color: #252525;
}

a:hover {
  color: white;
}

ul {
  margin-top: 2rem;
}

.homeNav {
  display: inline;
  font-size: 1.1rem;
}

.menuNav {
  display: inline;
  font-size: 1.1rem;
}

a {
  text-decoration: none;
  padding: 1rem;
  font-family: "Special Elite", cursive;
  color: rgb(214, 18, 18);
}

#mainName {
  font-family: "Special Elite", cursive;
  color: rgb(214, 18, 18);
  font-size: 1.7rem;
}

#mainBot {
  font-family: "Special Elite", cursive;
  font-size: 1rem;
  text-align: center;
  margin-top: -1rem;
  color: white;
}

#mainImg {
  width: 100%;
  height: 27rem;
}

#welcomeTxt {
  font-family: "Special Elite", cursive;
  text-align: center;
}

#welcome-wrapper {
  margin-top: 3rem;
  font-size: 1.5rem;
}

#welcome-subTxt {
  text-align: center;
  font-size: 1.2rem;
  margin: 0 6rem;
}

span {
  color: rgb(214, 18, 18);
}

#foods-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 4rem;
  text-align: center;
}

.food-box {
  width: 20rem;
  height: 17rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.food-container {
  padding: 1rem;
}

.food-img {
  width: 100%;
  height: 9rem;
}

#timeLocation-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
  margin-top: 4rem;
  color: white;
  background-color: #252525;
  font-family: "Baloo Bhaina 2", cursive;
}

.time-txt {
  text-align: left;
  font-size: 1rem;
  margin-top: -1.5rem;
}

#hrs {
  font-size: 1.2rem;
  color: rgb(214, 18, 18);
}

#loc-wrapper {
  margin-top: 4.1rem;
}

.loc-txt {
  font-size: 1rem;
  text-align: center;
  margin-top: -1.5rem;
}

#mapLink {
  color: rgb(214, 18, 18);
}

.num {
  font-size: 1rem;
  margin-top: -1.5rem;
}

#numBot-txt {
  text-align: center;
}

#numTop-txt {
  text-align: center;
}

#num-wrapper {
  margin-top: 4rem;
}

p {
  font-family: "Baloo Bhaina 2", cursive;
  line-height: 2rem;
}

#menuMain-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 2rem 8rem 0 8rem;
}

#mainMenuTxt {
  font-family: "Special Elite", cursive;
  font-size: 3rem;
  padding: 4rem 0 0 4rem;
}

#sideMenuTop {
  font-family: "Special Elite", cursive;
  font-size: 2rem;
  padding: 2rem 0 0 2rem;
}

#mainMenuBox {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 37rem;
  width: 48rem;
}

#mainSideMenu {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 19rem;
  height: 27rem;
  /* background-image: url(https://i.imgur.com/DOJAgji.jpg);
  background-size: cover; */
  background-color: rgb(250, 249, 237);
}

#mainMenuImg {
  width: 60%;
  height: 13rem;
}

#mainSubBox {
  display: flex;
  padding: 4rem 4rem 0 4rem;
}

#topLine {
  border-top: 0.1rem solid grey;
  width: 75%;
}

.fillLine {
  width: 86%;
  border-top: 0.01rem solid red;
}

li {
  list-style: none;
}

#menu-container {
  display: flex;
  justify-content: center;
}

.multi-level,
.item ul,
input[type="checkbox"] {
  display: none;
}

#menu:checked ~ .multi-level,
.item input:checked {
  display: block;
}

#menu2:checked ~ .multi-level,
.item input:checked {
  display: block;
}
