body {
  margin: 0;
  background-image: url(https://i.imgur.com/XUYs25d.png);
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  background-color: rgba(255, 255, 255, 0.774);
  height: 7rem;
}

#nav-container {
  display: flex;
  justify-content: space-between;
}

#title-wrapper {
  padding-left: 2rem;
  text-align: center;
  display: flex;
}

#name {
  margin-top: 0;
  font-family: "Exo", sans-serif;
  font-weight: 100;
  font-size: 3.3rem;
}

h3 {
  font-family: "Comic Neue", cursive;
  margin-top: -2.9rem;
  font-size: 1.5rem;
}

ul {
  list-style: none;
  margin-top: 2.7rem;
}

li {
  display: inline;
  padding: 1.5rem;
  font-size: 1.5rem;
  font-family: "Acme", sans-serif;
}
